
/* Общие стили для всех страниц */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Inter";
    src: url(/public/fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Street";
    src: url(/public/fonts/19012.ttf);
}
@font-face {
    font-family: "SimpleTags";
    src: url(/public/fonts/F563-Regular.ttf);
}
:root {
    --accent: #3DCC0D;
    --white: #F0F0F0;
    --black: #000000;
    --gray: #D9D9D9;
    --accent2: #6AA656;
    --bg2: #151515;
    --bg_input: #222222;
    --stroke_input: #333333;
    --text: #EEEEEE;

}

body {
    display: flex;
    margin: 0;
   background-color: var(--black);
}
 body {
            display: flex;
            margin: 0;
        }
        
        aside {
            width: 235px;
            background-color: var(--bg2);
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            overflow-y: auto;
            z-index: 1000;
            padding:  18px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .main-content {
            flex: 1;
            margin-left: 250px;
            min-height: 100vh;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            margin-top: 20px;
            margin-right: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        
        .logo h1{
            font-size: 34px;
            font-family: "Inter";
            color: var(--gray);
        }
        
        
        .nav-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contacts-section{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        
        
        .nav-link {
            display: flex;
            width: fit-content;
            padding: 5px 5px;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        .nav-link-contact{
            display: flex;
            width: 100%;
            padding: 5px 5px;
            text-decoration: none;
            transition: all 0.3s ease;
            gap: 10px;
            background: none;
            border: none;

        }
        .nav-link:hover,
        .nav-link-contact:hover {
            border-bottom: 1px solid var(--accent);
        }
        .nav-link:hover>span,
        .nav-link-contact:hover>span{
            color: var(--accent);
        }
        .nav-link-contact:hover>svg>path{
            stroke: var(--accent);
        }
      
    
        
        .nav-link span {
            width: auto;
            font-family: "Montserrat";
            font-weight: 500 ;
            color: var(--gray);
            font-size: 16px;
        }
        .nav-link-contact span {
            width: auto;
            font-family: "Montserrat";
            font-weight: 500 ;
            color: var(--gray);
            font-size: 14px;
        }
        
        .user-info {
            display: flex;
            gap: 5px;
            width: 100%;
        }
        .user_name{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }
        .user_full_name{
            font-size: 16px;
            font-family: "Montserrat";
            font-weight: 900;
            color: var(--white);
        }
        .user_email{
            font-size: 12px;
            font-family: "Montserrat";
            font-weight: 700;
            color: #767676;
        }
        .user_role{
            display: flex;
            width: 100%;
            border-radius: 15px;
            padding: 5px 5px;
            align-items: center;
            justify-content: center;
        }
        .user_role>p{
            font-size: 10px;
            font-family: "Montserrat";
            font-weight: 700;
            color: var(--white);
        }
        .user_role.role-admin{
            background-color: var(--accent2);
        }
        .user_role.role-user{
            background-color: #D7A03A;
        }
    .form_out{
        display: flex;
        padding: 10px 0px;
        border-top: 1px solid var(--gray);
    }
       