
/* Общие стили для всех страниц */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url(/public/fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Inter";
    src: url(/public/fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Street";
    src: url(/public/fonts/19012.ttf);
}
@font-face {
    font-family: "SimpleTags";
    src: url(/public/fonts/F563-Regular.ttf);
}
:root {
    --accent: #3DCC0D;
    --white: #F0F0F0;
    --black: #000000;
    --gray: #D9D9D9;
    --accent2: #6AA656;
    --bg2: #151515;
    --bg_input: #222222;
    --stroke_input: #333333;
    --text: #EEEEEE;

}

body {
    display: flex;
    margin: 0;
   background-color: var(--black);
}

        
aside {
    width: 235px;
    background-color: var(--bg2);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
    padding:  18px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
        
        .main-content {
            margin-left: 235px;
            min-height: 100vh;
            width: 100%;
        }
        
        .logo h1{
            font-size: 34px;
            font-family: "Inter";
            color: var(--gray);
        }
        
        
        .nav-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contacts-section{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        
        
        .nav-link {
            display: flex;
            width: fit-content;
            padding: 5px 5px;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        .nav-link-contact{
            display: flex;
            width: 100%;
            padding: 5px 5px;
            text-decoration: none;
            transition: all 0.3s ease;
            gap: 10px;
            background: none;
            border: none;

        }
        .nav-link:hover,
        .nav-link-contact:hover {
            border-bottom: 1px solid var(--accent);
        }
        .nav-link:hover>span,
        .nav-link-contact:hover>span{
            color: var(--accent);
        }
        .nav-link-contact:hover>svg>path{
            stroke: var(--accent);
        }
      
    
        
        .nav-link span {
            width: auto;
            font-family: "Montserrat";
            font-weight: 500 ;
            color: var(--gray);
            font-size: 16px;
        }
        .nav-link-contact span {
            width: auto;
            font-family: "Montserrat";
            font-weight: 500 ;
            color: var(--gray);
            font-size: 14px;
        }
        
        .user-info {
            display: flex;
            gap: 5px;
            width: 100%;
        }
        .user_name{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }
        .user_full_name{
            font-size: 16px;
            font-family: "Montserrat";
            font-weight: 900;
            color: var(--white);
        }
        .user_email{
            font-size: 12px;
            font-family: "Montserrat";
            font-weight: 700;
            color: #767676;
        }
        .user_role{
            display: flex;
            width: 100%;
            border-radius: 15px;
            padding: 5px 5px;
            align-items: center;
            justify-content: center;
        }
        .user_role>p{
            font-size: 10px;
            font-family: "Montserrat";
            font-weight: 700;
            color: var(--white);
        }
        .user_role.role-admin{
            background-color: var(--accent2);
        }
        .user_role.role-user{
            background-color: #D7A03A;
        }
    .form_out{
        display: flex;
        padding: 10px 0px;
        border-top: 1px solid var(--gray);
    }
       


 /*login*/
 .login-container,
 .register-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.login-card,
.register-card {
    width: 510px;
    height: min-content;
    border-radius: 20px;
    margin: auto auto;
    padding: 50px 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg2);
}   

.login-header h1,
.register-header h1{
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #AAAAAA;
}
.login-form,
.register-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.form-group>label{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #DDDDDD;
}
.input-group{
    background: var(--bg_input);
    display: flex;
    gap: 24px;
    padding: 16px 24px;
    width: 100%;
    border-radius: 8px;
}
.input-group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #767676;
    background-color: transparent;
}

input:focus {
    outline: none;
    border-color: var(--accent);
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: var(--white);
    background-color: var(--bg_input);
}
.form-hint{
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #DDDDDD;
}
.login-footer,
.register-footer{
    display: flex;
    gap: 5px;
}
.login-footer p,
.register-footer p{
    font-size: 15.2px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #AAAAAA;
}
.login-footer a,
.register-footer a{
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
}
.login-footer a:hover,
.register-footer a:hover{
    text-decoration: underline;
}

.btn-primary{
    background-color:rgba(229, 229, 229, 0.15000000596046448);
    height:38px;
    width:410px;
    filter:drop-shadow(0px 4px 7.599999904632568px rgba(194, 192, 192, 0.25));
    border-radius:50px;
    padding-left:28px;
    padding-right:28px;
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    gap:10px;
    position:relative;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
}
.btn-primary:hover{
    filter:drop-shadow(0px 4px 7.599999904632568px rgba(57, 255, 80, 0.25));
}